/* This file is for your main application css. */
.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputFile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.inputFile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.inputFile + label {
    color: #d3394c;
    border: 2px solid currentColor;
}
.inputFile:focus + label,
.inputFile.has-focus + label,
.inputFile + label:hover {
    color: #722040;
}
.annotationDeleteButton {
  stroke: red;
  stroke-width: 2px;
  fill: red;
  fill-opacity: 0.1;
}
#pdfParentDiv {
  display: block;
  margin: auto;
}
rect {
    stroke: #ff0080;
    stroke-width: 4px;
    fill: steelblue;
    fill-opacity: 0.1;
}
.pdfPageParentSvg {
  border: 1px solid grey;
}
.pdfPageSvg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#annotationSaveBtn {
  position: fixed;
  top: 95%;
  left: 92%;
}
