<style>
svg {
    border: 1px solid grey;
}
.delete_button {
  stroke: red;
  stroke-width: 2px;
  fill: red;
  fill-opacity: 0.1;
}
rect {
    stroke: steelblue;
    stroke-width: 2px;
    fill: white;
    fill-opacity: 0.0;
}
.pdf-svg {
  user-select: none;
  cursor: default;
}
</style>
